.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  padding: 0 20px;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
}

.modal__container_type_preview {
  padding: 0;
  width: unset;
  background-color: transparent;
}

.modal__img {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  object-fit: contain;
}

.modal__caption {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin: 8px 0 0;
  padding: 4px 8px;
  width: fit-content;
  border-radius: 8px;
  background-color: #212121;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #fff;
  background-image: url("../images/Close-Icon.svg");
}

.modal__close-btn_preview {
  background-image: url("../images/closeLight.svg");
  background-color: transparent;
  top: 0;
  right: -52.5px;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "poppings", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px;
  font-family: "poppings", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: rgba(33, 33, 33);
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__error {
  color: #ff0000b2;
  display: block;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  padding: 18px 58px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  font-family: "poppings", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__submit-btn:hover {
  opacity: 70%;
  cursor: pointer;
  background-color: rgba(33, 33, 33, 1);
}

.modal__submit-btn_disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 50%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__img {
    width: 288px;
    max-width: unset;
  }

  .modal__title {
    font-size: 20px;
    margin: 12px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn-type-small {
    top: -29px;
    right: 12px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
